.wiki-name {
    width: 237px;
    background-color: rgba(255, 0, 0, 0.5);
    text-align: center;
}

.sum {
    background-color: rgba(255, 0, 0, 0.5);
}

.rank-table {
}

.submit-btn {
    margin-top: 20px;
    width: 10%;
}

.view-btn {
    margin-top: 20px;
    width: 10%;
}

